pandas~=2.3.2
numpy~=2.3.3
yfinance~=0.2.66
requests~=2.31.0
beautifulsoup4~=4.12.3
soupsieve~=2.8
pip~=22.3.1
wheel~=0.38.4
setuptools~=65.5.1
pytz~=2025.2
cffi~=2.0.0
python-dateutil~=2.9.0.post0
certifi~=2025.8.3
peewee~=3.18.2
urllib3~=2.5.0
six~=1.17.0
idna~=3.10
frozendict~=2.4.6
websockets~=15.0.1
platformdirs~=4.4.0
multitasking~=0.0.12
pycparser~=2.23